.pokemon-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1440px;
    margin: 0 auto;
    list-style: none;
    gap: 20px;
    justify-content: center;
    padding-inline-start: 0px;
    padding: 0 10px;
    .pokemon-card {
        max-width: 140px;
        width: 100%;
        border-radius: 8px;
        border: 1px solid #f1f1ff;
        a{
            text-decoration: none;
            .pokemon-img{
                background-color: #f1f1ff;
                width: 100%;
                img {
                    max-width: 140px;
                    width: 100%;
                    object-fit: cover;
                }
            }
            h3 {
                color: #464646;
                text-align: center;
                &:first-letter{
                    text-transform: uppercase;
                }
            }
/*             .pokemon-body{

            } */

        }

    }
}